@font-face {
  font-family: "iconfont"; /* Project id 4397940 */
  src: url('iconfont.woff2?t=1744961017396') format('woff2'),
       url('iconfont.woff?t=1744961017396') format('woff'),
       url('iconfont.ttf?t=1744961017396') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zidongxunjian:before {
  content: "\e610";
}

.icon-zidongxunjian1:before {
  content: "\e614";
}

.icon-fangda:before {
  content: "\e613";
}

.icon-vertical-point:before {
  content: "\e612";
}

.icon-yonghufangwenjiankong:before {
  content: "\e60f";
}

.icon-tuisongcelve:before {
  content: "\e611";
}

.icon-jilu:before {
  content: "\e76b";
}

.icon-wenti:before {
  content: "\e76a";
}

.icon-zuoyeguanli:before {
  content: "\e769";
}

.icon-Union:before {
  content: "\e60e";
}

.icon-gaojingziyu1:before {
  content: "\e60d";
}

.icon-gaojingziyu:before {
  content: "\e768";
}

.icon-quanjingtushouqi:before {
  content: "\e767";
}

.icon-a-bianzubeifen6:before {
  content: "\e765";
}

.icon-a-bianzubeifen5:before {
  content: "\e766";
}

.icon-buzhou-yiwancheng:before {
  content: "\e764";
}

.icon-daodi:before {
  content: "\e60b";
}

.icon-dangqian:before {
  content: "\e60c";
}

.icon-daoding:before {
  content: "\e609";
}

.icon-quanpingsuoxiao:before {
  content: "\e763";
}

.icon-quanping:before {
  content: "\e762";
}

.icon-qushi2:before {
  content: "\e608";
}

.icon-biaoge-qushi:before {
  content: "\e760";
}

.icon-biaoge-youjiantou:before {
  content: "\e761";
}

.icon-zhexiantutuli:before {
  content: "\e75f";
}

.icon-gaojinggailan1:before {
  content: "\e60a";
}

.icon-Grafanakeshihua:before {
  content: "\e75d";
}

.icon-yewufangwenbaobiao:before {
  content: "\e75e";
}

.icon-yixuan:before {
  content: "\e607";
}

.icon-zhexiantu-xuanzhong:before {
  content: "\e75c";
}

.icon-zuojiantou:before {
  content: "\e605";
}

.icon-youjiantou:before {
  content: "\e606";
}

.icon-bianzu:before {
  content: "\e604";
}

.icon-huangseyuanquan-gaojing:before {
  content: "\e759";
}

.icon-hongseyuanquan-yanzhong:before {
  content: "\e75a";
}

.icon-lanseyuanquan-xinxi:before {
  content: "\e75b";
}

.icon-lansemorenquan-gaojingzongliangqushi:before {
  content: "\e758";
}

.icon-document:before {
  content: "\e602";
}

.icon-gaojingshijian:before {
  content: "\e74b";
}

.icon-suoyougaojing:before {
  content: "\e74e";
}

.icon-a-wodegaojingheise:before {
  content: "\e757";
}

.icon-pingbigaojing:before {
  content: "\e74c";
}

.icon-suoyoutongzhi:before {
  content: "\e74d";
}

.icon-zidingyibiaoqian:before {
  content: "\e74f";
}

.icon-pingbiguize:before {
  content: "\e750";
}

.icon-tongzhifangshi:before {
  content: "\e751";
}

.icon-jiankongxitong:before {
  content: "\e752";
}

.icon-fenpaicelve:before {
  content: "\e753";
}

.icon-tongzhicelve:before {
  content: "\e754";
}

.icon-tongzhizu:before {
  content: "\e755";
}

.icon-weifenpaigaojing:before {
  content: "\e756";
}

.icon-liebiao:before {
  content: "\e749";
}

.icon-biaoge1:before {
  content: "\e74a";
}

.icon-tongji:before {
  content: "\e747";
}

.icon-shujiegou:before {
  content: "\e748";
}

.icon-huoyantu:before {
  content: "\e746";
}

.icon-Proxyguanli:before {
  content: "\e744";
}

.icon-Agenthuanjingguanli:before {
  content: "\e745";
}

.icon-jiaoseguanli:before {
  content: "\e743";
}

.icon-yonghuguanli:before {
  content: "\e73a";
}

.icon-huoyuegaojing:before {
  content: "\e741";
}

.icon-yewuzuguanli:before {
  content: "\e742";
}

.icon-tongzhimoban:before {
  content: "\e738";
}

.icon-tongzhiguize:before {
  content: "\e739";
}

.icon-gaojingzu:before {
  content: "\e73b";
}

.icon-gaojingguize:before {
  content: "\e73c";
}

.icon-lishigaojing:before {
  content: "\e73d";
}

.icon-neizhiguize:before {
  content: "\e73e";
}

.icon-dingyueguize:before {
  content: "\e73f";
}

.icon-gaojinggailan:before {
  content: "\e740";
}

.icon-shixuzhibiao3:before {
  content: "\e731";
}

.icon-lianluzhuizong1:before {
  content: "\e737";
}

.icon-jichusheshijiance1:before {
  content: "\e736";
}

.icon-yingyongxingnengjiance1:before {
  content: "\e732";
}

.icon-yibiaopan1:before {
  content: "\e733";
}

.icon-rizhijiansuo:before {
  content: "\e734";
}

.icon-shujujieru:before {
  content: "\e735";
}

.icon-anzhuangheguanli:before {
  content: "\e730";
}

.icon-renwulishi:before {
  content: "\e72b";
}

.icon-chajiancaozuo:before {
  content: "\e72c";
}

.icon-chajianguanli:before {
  content: "\e72e";
}

.icon-agentguanli:before {
  content: "\e72f";
}

.icon-rizhikuaizhao:before {
  content: "\e729";
}

.icon-delete1:before {
  content: "\e728";
}

.icon-SQL1:before {
  content: "\e725";
}

.icon-chakantiaoyonglian:before {
  content: "\e723";
}

.icon-chaxunkuaizhao:before {
  content: "\e724";
}

.icon-save:before {
  content: "\e726";
}

.icon-logexport:before {
  content: "\e603";
}

.icon-loghistory:before {
  content: "\e601";
}

.icon-kongjian:before {
  content: "\e86b";
}

.icon-caidan:before {
  content: "\e869";
}

.icon-yonghuchi:before {
  content: "\e86a";
}

.icon-gongzuokongjian:before {
  content: "\e868";
}

.icon-gaojingguanli:before {
  content: "\e867";
}

.icon-baocun:before {
  content: "\e866";
}

.icon-fenxi:before {
  content: "\e865";
}

.icon-jichuxinxi:before {
  content: "\e864";
}

.icon-shuju:before {
  content: "\e863";
}

.icon-qianduanxingneng:before {
  content: "\e862";
}

.icon-a-yibiaopan2:before {
  content: "\e861";
}

.icon-wenjianjiazhengque:before {
  content: "\e860";
}

.icon-tianjiawenjianjia:before {
  content: "\e85f";
}

.icon-yibiaopan:before {
  content: "\e85e";
}

.icon-zhongduan:before {
  content: "\e85d";
}

.icon-moban:before {
  content: "\e85c";
}

.icon-lianlu:before {
  content: "\e85b";
}

.icon-gaojingliebiao:before {
  content: "\e85a";
}

.icon-tongzhishezhi:before {
  content: "\e859";
}

.icon-shixuzhibiao:before {
  content: "\e858";
}

.icon-yincang:before {
  content: "\e857";
}

.icon-shanchu1:before {
  content: "\e856";
}

.icon-zhichigexinghuashujufenxi:before {
  content: "\e853";
}

.icon-neizhifengfutubiaozujian:before {
  content: "\e854";
}

.icon-neizhiduozhongshitumoban:before {
  content: "\e855";
}

.icon-SQL:before {
  content: "\e852";
}

.icon-fuzhi:before {
  content: "\e84f";
}

.icon-shangxiawenrizhi:before {
  content: "\e850";
}

.icon-xiangqing:before {
  content: "\e851";
}

.icon-kuaimianxiala:before {
  content: "\e84d";
}

.icon-kuaimianxiala1:before {
  content: "\e84e";
}

.icon-biaoge:before {
  content: "\e84b";
}

.icon-tubiao:before {
  content: "\e84c";
}

.icon-suojin:before {
  content: "\e849";
}

.icon-suojin2:before {
  content: "\e84a";
}

.icon-daohang:before {
  content: "\e845";
}

.icon-gongzuotai_:before {
  content: "\e847";
}

.icon-rili1:before {
  content: "\e848";
}

.icon-gengduo:before {
  content: "\e846";
}

.icon-diannao:before {
  content: "\e844";
}

.icon-daochu:before {
  content: "\e843";
}

.icon-yulan:before {
  content: "\e841";
}

.icon-kelong:before {
  content: "\e842";
}

.icon-zhengque:before {
  content: "\e83f";
}

.icon-tubiaotu:before {
  content: "\e840";
}

.icon-bianji:before {
  content: "\e83e";
}

.icon-zhuyi:before {
  content: "\e83b";
}

.icon-shouqi-1:before {
  content: "\e83c";
}

.icon-zhankai-1:before {
  content: "\e83d";
}

.icon-zhuye:before {
  content: "\e839";
}

.icon-guanbi:before {
  content: "\e83a";
}

.icon-jianshao:before {
  content: "\e836";
}

.icon-xinzeng1:before {
  content: "\e837";
}

.icon-yixuanze2:before {
  content: "\e838";
}

.icon-tuozhuai:before {
  content: "\e834";
}

.icon-xinzeng:before {
  content: "\e835";
}

.icon-yiwen-copy:before {
  content: "\e86c";
}

.icon-yiwen:before {
  content: "\e833";
}

.icon-shanchu:before {
  content: "\e832";
}

.icon-qushiicon:before {
  content: "\e831";
}

.icon-sousuo:before {
  content: "\e830";
}

.icon-xia:before {
  content: "\e828";
}

.icon-shang:before {
  content: "\e82e";
}

.icon-you:before {
  content: "\e82f";
}

.icon-shixuzhibiao1:before {
  content: "\e82a";
}

.icon-shuaxin:before {
  content: "\e82b";
}

.icon-shixuzhibiao2:before {
  content: "\e82c";
}

.icon-a-shezhi_setting-one1:before {
  content: "\e82d";
}

.icon-yingyongxingnengjiance:before {
  content: "\e823";
}

.icon-keyongxingjiance:before {
  content: "\e824";
}

.icon-lianluzhuizong:before {
  content: "\e825";
}

.icon-rizhifenxi:before {
  content: "\e826";
}

.icon-yingyongzonglanfenxi:before {
  content: "\e827";
}

.icon-qianduanxingnengjiance:before {
  content: "\e821";
}

.icon-jichusheshijiance:before {
  content: "\e829";
}

.icon-zhongduanxingnengjiance:before {
  content: "\e822";
}

